<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>236083580335-glklqfc4m6kn7qs57h3ak2s3vp6ojvfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236083580335-glklqfc4m6kn7qs57h3ak2s3vp6ojvfb</string>
	<key>API_KEY</key>
	<string>AIzaSyADLj84bGG7UZv6tjm1sYAMZlHMfT3gukw</string>
	<key>GCM_SENDER_ID</key>
	<string>236083580335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatigo</string>
	<key>PROJECT_ID</key>
	<string>eop-test</string>
	<key>STORAGE_BUCKET</key>
	<string>eop-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236083580335:ios:13e8200358e44b33</string>
	<key>DATABASE_URL</key>
	<string>https://eop-test.firebaseio.com</string>
</dict>
</plist>